// Primary
$color_light_red_primary: hsl(0, 36%, 70%);
$color_soft_red_primary: hsl(0, 93%, 68%);

//Neutral
$color_darkGrayish_red_neutral: hsl(0, 6%, 24%);

//Gradients
$color_gradient_primary_from: hsl(0, 0%, 100%);
$color_gradient_primary_to: hsl(0, 100%, 98%);

$color_gradient_secondary_from: hsl(0, 80%, 86%);
$color_gradient_secondary_to: hsl(0, 74%, 74%);

$degrees: 135deg;
$direction: linear;
