*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif; }

.main_container {
  display: flex;
  max-width: 100vw;
  margin: 0 auto;
  min-height: 100vh; }

.content_left {
  display: flex;
  flex-direction: column;
  padding: 5rem 5rem;
  flex-basis: 70%;
  position: relative;
  overflow: hidden;
  align-items: center;
  flex-grow: 1; }
  .content_left > * {
    margin-right: 7rem; }
  .content_left::before {
    content: "";
    position: absolute;
    background-image: url("/bg-pattern-desktop.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin: 0; }
  .content_left--content {
    max-width: 45rem; }
  .content_left--header_img {
    width: 35%; }
  .content_left--text {
    margin-top: 11rem; }
    .content_left--text--title {
      display: flex;
      flex-direction: column;
      gap: 0.2rem; }
      .content_left--text--title--span-1 {
        font-weight: 350;
        color: #ce9797;
        text-transform: uppercase;
        letter-spacing: 12px;
        font-size: 6rem; }
      .content_left--text--title--span-2 {
        font-size: 6rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 12px;
        color: #413a3a; }
    .content_left--text--p {
      margin-top: 2rem;
      color: #ce9797;
      line-height: 2.5rem; }

.input {
  margin-top: 3rem;
  width: max-content;
  display: flex;
  align-items: center;
  border: 0.2px solid rgba(65, 58, 58, 0.425);
  padding: 1.7rem 1.5rem;
  border-radius: 2.8rem;
  position: relative; }
  .input:focus-within {
    box-shadow: 0 5px 20px rgba(206, 151, 151, 0.596); }
  .input--element {
    background: transparent;
    border: none;
    outline: none;
    width: 38rem; }
    .input--element::placeholder {
      color: rgba(206, 151, 151, 0.596); }
  .input--btn {
    padding: 1.6rem 4rem;
    position: absolute;
    right: 0;
    transform: translateX(2rem);
    border-radius: 3rem;
    border: none;
    background-image: linear-gradient(to right, #f8bfbf, #ee8c8c);
    box-shadow: 0 15px 20px rgba(206, 151, 151, 0.596);
    transition: all ease; }
    .input--btn:hover {
      background-image: linear-gradient(to left, #f8bfbf, #f8bfbf);
      transform: translateX(2rem);
      cursor: pointer; }
  .input--icon_Error {
    transform: translateX(-8rem);
    position: absolute;
    right: 0;
    width: 5%; }
  .input--error_message {
    color: #f96262;
    transform: translateY(1.5rem) translateX(2rem);
    position: absolute; }

.content_right {
  flex-basis: 30%;
  flex: 1; }
  .content_right--img {
    height: 100%; }

.errorInput {
  border: 2px solid red; }

.inactive {
  display: none !important; }

.active {
  display: inline-block !important; }

.heroImg_Mobile {
  display: none; }

@media (max-width: 62.5em) {
  html {
    font-size: 50%; }
  .main_container {
    flex-wrap: wrap;
    margin: 0 auto; }
  .content_left {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    overflow: hidden;
    align-items: center;
    padding: 5rem 0;
    max-width: 100%; }
    .content_left > * {
      margin-right: 0; }
  .content_right--img {
    display: none !important; }
  .content_left--content {
    max-width: 100%; }
  .heroImg_Mobile {
    display: block;
    max-width: 100%; }
  .heroImg_Mobile--container {
    display: flex;
    justify-content: center; }
  .content_left::before {
    display: none; }
  .content_left--text {
    text-align: center;
    margin-top: 1rem; }
    .content_left--text--title {
      margin-bottom: 2rem; }
  .content_right {
    display: none; }
  .header_container {
    margin: 0 0 3rem 4rem; }
  .content_left--text--p {
    padding: 0 5rem;
    margin: 0 auto; }
  .form {
    display: flex;
    justify-content: center; }
  .input {
    width: 70%; }
  .input--error_message {
    transform: translateY(10rem) translateX(-1rem); } }

@media (min-width: 1600px) {
  .content_left--text {
    margin-top: 16rem; }
  .content_left--content {
    margin-right: 20rem; } }
